<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_index5.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>HOME PAGE - FLASK COURSE</title>
</head>

<body>
    <h1>EXEMPLE OF STATIC FILES</h1>
    <div class="container">
        <form action="http://127.0.0.1:5000/add" method="post" class="form">
            <input class="div__form__input" type="text" name="user" placeholder="Name here ...">
            <br>
            <input class="div__form__input" type="text" name="password" placeholder="Password here ...">
            <br>
            <button class="div__form__bttn" type="submit">Send</button>
        </form>
    </div>
</body>
</html>